mat-toolbar {
  display: flex;
  justify-content: space-between;

  .login-section {
    display: flex;
    align-items: center;

    .login-button {
      margin-right: 10px;
    }
  }
}

.container {
  display: flex;
  padding: 24px;
}
