<form [formGroup]="toDoForm" (ngSubmit)="onAddToDo()">
  <mat-form-field>
    <input matInput formControlName="title" placeholder="Title" />
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="description" placeholder="Description" />
  </mat-form-field>
  <div class="action-buttons">
    <button
      mat-raised-button
      color="accent"
      type="button"
      (click)="resetForm()"
    >
      Reset
    </button>
    <button mat-raised-button color="primary" type="submit">Add</button>
  </div>
</form>
