<mat-toolbar color="primary">
  <a routerLink="/">Playwright-demo</a>
  <div class="login-section">
    <mat-icon class="login-button">account_circle</mat-icon>
    <span class="sign-out-button" (click)="onLogout()"> Sign out </span>
  </div>
</mat-toolbar>
<div class="container">
  <h1>Home Component</h1>
  <div class="todo-section">
    <h2 class="todo-title">Todo List</h2>
    <app-add-todo class="todo-add"></app-add-todo>
    <app-todo-list class="todo-list">Todo list</app-todo-list>
  </div>
</div>
